extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Stephanie De La Melena

        p Full Stack JavaScript Developer Apprentice at Intuit and AnitaB


        .about-bio

          p I've always enjoyed solving problems! Whether it be for a school project, for friends or family, I've found that challenging myself is the way I can experience growth. This year, I joined Intuits Apprenticeship Pathway Program in order for me to learn full-stack JavaScript Development.


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li 661-965-0877
          li stephaniedlm@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/stephanie-de-la-melena/') LinkedIn
        a.btn-link(href='https://github.com/StephDLM') GitHub
        //- a.btn-link(href='') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back