extends layout.pug

block content

  article.portfolio-intro

    h1 Making the web better, one GitHub repo at a time!
    p This portfolio contains the projects that I completed while working on my FullStack JavaScript TechDegree from TreeHouse. 

  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects 
        .cell
        
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.image_urls[1]}`, alt='Snapshot of project')
            h5 #{project.project_name}

